html{
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  //font-size: 0px;
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  height: 100%;
}

*, *:before, *:after {
  font-family: Inter, Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.005);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -webkit-text-stroke: .025em rgba(51,51,51,0.1);
  
  box-sizing: border-box;
  //font-size: 0px;
}